@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothiccyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/back.jpg');
    height: 100%;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

header {
    position: relative;
    background-color: #036;
    height: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    z-index: 10;
}

nav {
    height: 100px;
    width: 825px;
    margin: 0 auto;
    position: relative;
}

nav .logo {
    position: absolute;
    left: -85px;
    z-index: 5;
}

nav .main_option {
    position: relative;
    z-index: 3;
    color: #fff;
    font-family: 'league_gothicregular';
    font-size: 24px;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-left: 39px;
    line-height: 75px;
}

nav .current {
    position: relative;
    z-index: 3;
    color: #f93;
    font-family: 'league_gothicregular';
    font-size: 24px;
    text-decoration: none;
    margin-left: 39px;
    line-height: 75px;
    text-shadow: 1px 0 #fff, 0 1px #fff, -1px 0 #fff, 0 -1px #fff;
}


.main-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

.content-wrap {
    position: relative;
    width: 780px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    z-index: 1;
    padding: 25px;
}

.content {
    position: relative;
    z-index: 10;
}

.column-left {
    position: relative;
    width: 250px;
    float: left;
}

h1 {
    color: #c71;
    font-size: 36px;
    text-align: center;
}

.block {
    border-bottom: solid 1px #f93;
}

.block:last-child {
    border: none;
}

.btn {
    display: block;
    line-height: 20px;
    width: 200px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    background-image: url('../images/grid.png');
    border: none;
    cursor: pointer;
}

.btn.accented {
    background-color: #f93;
    color: #fff;
}

.btn.accented:hover {
    background-color: #e82;
}

.content-in {
    margin-left: 260px;
}

.fullsize-form {
    display: block;
    padding: 30px;
}

.fullsize-form .field {
    margin: 20px 0;
}

.fullsize-form .field label {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    color: #666;
}

.fullsize-form .field textarea {
    display: block;
    width: 100%;
    height: 300px;
    resize: vertical;
}

.fullsize-form .image-left {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid gray;
    background-image: url('../images/upload.jpg');
    background-position: 5px 7px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fullsize-form .image-left label {
    display: none;
}

.fullsize-form .image-left input {
    display: block;
    width: 450px;
    height: 200px;
    margin-left: -250px;
    text-align: left;
}

.fullsize-form .big-text {
    padding: 40px 0;
}

.fullsize-form .big-text label {
    display: block;
    font-size: 32px;
    color: #666;
    margin-bottom: 30px;
}

.fullsize-form .big-text input {
    display: block;
    font-size: 24px;
    line-height: 24px;
    padding: 10px;
    width: 100%;
}

.fullsize-form .field .submit {
    font-size: 24px;
    padding: 10px 30px;
}

.cloud {
    position: absolute;
    width: 1017px;
    height: 362px;
    background: url(../images/clouds.png) bottom no-repeat;
    bottom: -150px;
    left: -150px;
    z-index: 2;
}

footer {
    position: relative;
    background-color: #036;
    height: 50px;
    z-index: 10;
}

